# Folders generated in training
cache
images
logs
tf_logs
weights

# Jupyter notebooks
.ipynb_checkpoints
*.ipynb

# Other
results
.idea
__pycache__
*.png
*.txt

# Cuda custom ops (not yet ready)
dnnlib
# Cuda ops tests
test_*
